@font-face {
    font-family: "Roboto" ;
    src: local ("Rooto-Regular"),
    local (Roboto Regular)
    
}
@font-face {
    font-family: "Bitter";
    src: local ("Bitter");
    font-weight: normal;
}
@font-face {
    font-family: "Playfair Display";
    src: local("PlayfairDisplay");
    font-family: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.h {
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.mod {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.bio {
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.q {
    font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.url {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.wrap {
  margin: 0 auto;
  padding: 5% 5%;
  background-color: white;
  height: 25%;
  width: 25%;
}
.inside {
  background: url(./img/inside-weather-Uxqlfigh6oE-unsplash\ 1.jpg);
  height: 630px;
  width: 1440px;
  
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}